@import "./styles/base.css";
@import "./styles/auth.css";
@import "./styles/results.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        background-color: #09090b;
        color: #e4e4e7;
    }

    body {
        @apply antialiased selection:bg-zinc-800 selection:text-white;
    }
}

@layer utilities {
    .bg-grid-pattern {
        background-size: 40px 40px;
        background-image:
                linear-gradient(to right, #27272a 1px, transparent 1px),
                linear-gradient(to bottom, #27272a 1px, transparent 1px);
        mask-image: radial-gradient(ellipse at center, black 40%, transparent 80%);
    }
}